@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@700&family=Rowdies:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&family=Passion+One:wght@700&family=Rowdies:wght@300;400;700&display=swap');

*{
   margin:0;
   padding: 0;
}

:root{
   --cor1:#76FF7D;
   --cor2:#C2FFC5;
   --cor3:#3B803E;
   --cor4:#618062;
   --cor5:#5ECC63;
   --fonte1: Verdana, Geneva, Tahoma, sans-serif;
   --fonte2:'Mukta', sans-serif;
}

body{
   background-color: white;
   font-family:var(--fonte2);
   height: 100vh;
}

header{
   background-color: var(--cor3);
   text-align: center;
   padding-top: 50px;
}
header > h1{
   padding-bottom: 20px;
   font-weight: bolder;
   font-size: 4em;
   color: white;
   font-family: 'Passion One', cursive;

}
header > nav{
   text-align: left;
   padding-bottom: 19px;
}

header > nav a {
   text-decoration: none;
   padding: 20px;
   color: white;
   font-family: 'Passion One', cursive;
   font-size: 1.5em;
   
}
header > nav a:hover{
   background-color: var(--cor1);
   color: var(--cor4);
   text-decoration: underline;
}


main{
   max-width: 900px;
   min-height: 76%;
   margin: auto;
   background-color: rgba(211, 211, 211, 0.062);
   padding: 10px;
   
}

main > section > p{
   border-bottom: 1px solid var(--cor1);
   margin-bottom: 10px;
   font-size: 1.4em;
}

main > section > input[type=text]{
   width: 100%;
   height: 150px;
   text-align:top;
   font-size: 1.4em;
   outline-color:var(--cor3);
   outline: 5px;
   font-family: var(--fonte2);
   border: 1px solid var(--cor4);
}
section input[type=button]{
   background-color: var(--cor3);
   cursor: pointer;
   color: white;
   border: 0;
   margin-top: 5px;
   padding: 10px;
   font-size: 1em;
   border-bottom: 1px solid var(--cor1);

}

section input[type=button]:hover{
   background-color: var(--cor2);
   color: var(--cor4);
   text-decoration: underline;
}
p#tela_texto{
   margin-top: 30px;
   font-size: 1.2em;
   font-style: italic;
}

footer{
   background-color: var(--cor3);
   padding-top: 5px;
   padding-bottom: 5px;
   text-align: center;
   color: white;
   font-family: var(--fonte2);
   
   width: 100%;
}